p {
  color: green;
}

.first .news p {
    color: red;
}

.second .news span {
    font-weight: bold;
}

.news h1 {
    background: #494948;
    color: white;
    font-family: Arial;
    width: 400px;
    text-align: center;
    margin: auto;
    text-decoration: underline;
}

.news p {
    width: 400px;
    margin: auto;
    line-height: 2;
    background: #cdcdcd;
}

p {
  color: orange;
}
