/*Header start*/
header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.main-title {
    font-size: 2.2rem;
    text-align: center;
}
.main-content {
    font-size: 17px;
}
.description {
    margin-top: 10px;
    margin-bottom: 20px;
}

.logo {
    display: inline-block;
    height: 40px;
    margin: 15px 0;
}

nav {
    float: right;
}

nav ul {
    text-align: right;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li:last-of-type {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    font-size: 0.9rem;
    line-height: 70px;
}

nav ul li a:hover {
    border-bottom: 2px solid #f4f4f4;
}

.box-header {
    position: relative;
    min-height: 680px;
    background: url(/img/slide_03.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    color: #f4f4f4;
    animation: sliding 15s ease infinite 0s alternate;
}

@keyframes sliding {
    0% {
        background-image: url(/img/slide_03.jpg);
    }
    50% {
        background-image: url(/img/slide_02.jpg);
    }
    100% {
        background-image: url(/img/slide_01.jpg);
    }
}

.centerWrite {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.greenButton {
    text-decoration: none;
    list-style: none;
    text-align: center;
    padding: 8px 15px;
    border-radius: 20px;
    background: #a2cf8e;
    color: #f4f4f4;
    margin-top: 20px;
    font-size: 0.7rem;
}
/*Header end*/


/*table Box what we do start*/
.section1 {
    height: 500px;
    margin-top: 90px;
}

.sect-h2 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

.sect-h2::after {
    content:"";
    display: block;
    height: 3px;
    background: #000;
    width: 80px;
    margin: auto;
    margin-top: 10px;
}

.containerBox {
    margin-top: 80px;
}

.box {
    box-shadow: 0 0 10px 1px #888888;
    background: white;
    padding: 40px 20px;
    text-align: center;
    max-width: 300px;
    min-height: 200px
}

.box-group div .box {
    margin: 0 15px;
    font-size: 13px;
}

.box>h2 {
    margin-bottom: 15px;
}

.imges {
    margin-bottom: 20px;
}

.row::after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*table Box what we do end*/

/*section mill start*/
.mill-container {
    background: url(../img/what-we-do-bg.png) no-repeat;
    background-size: cover;
    min-height: 560px;
    position: relative;
}

.millText {
    color: #fff;
    margin-top: 90px;
    font-size: 15px;
}

.millText>div {
    margin-top: 30px;
}

.pictureSection2 {
    margin-top: 80px;
    text-align: right;
}

.millText a {
    margin-top: 30px;
    margin-right: 20px;
    display: inline-block;
}

.millText span a {
    background: #fff;
    color: #000;
}
/*section mill end*/

/*section portfolio start*/
.portfolio-nav {
    text-align: center;
    margin-top: 60px;
}

ul.portfolio-nav>li {
    list-style: none;
    display: inline-block;
    font-size: 0.85rem;
    padding: 0 20px;
    position: relative;
    opacity: 0.7;
}

.title {
    margin-top: 80px
}

.title>h3 {
    text-align: center;
}

ul.portfolio-nav>li:hover {
    color: #a2cf8e;
    cursor: pointer;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 0;
    margin-top: 55px;
    margin-bottom: 4rem;
}

.our-portfolio h2 {
    text-align: center;
}

.photo-gallery__item {
    padding-bottom: 15px;
    opacity: 0.8;
}

.photo-gallery__item:hover {
    opacity: 1;
    cursor: pointer;
}
/*section portfolio end*/

/*section blog post start*/
.blockPost {
    background: url(../img/blog-bg.png) no-repeat;
    background-size: cover;
    min-height: 750px;
}

.titleBlog {
    padding-top: 90px;
}

.blockLeft {
    background: url(../img/blog_01.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 456px;
    position: relative;
}

.upBlock {
    background: url(../img/blog_02.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 215px;
    position: relative;
    margin-bottom: 26px;
}

.bottonBlock {
    background: url(../img/blog_03.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 215px;
    position: relative;
}

.blockRight {
    padding-left: 28px;
}

.blackBlock {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    color: rgba(0, 0, 0, 0);
    padding: 15px;
    transition-property: background,color;
    transition-duration: 1.3s; 
}

.blockLeft:hover .blackBlock, .upBlock:hover .blackBlock, .bottonBlock:hover .blackBlock {
   background: rgba(0, 0, 0, 0.4);
    color: #fff;
    cursor: pointer;
}

.upBlock>blackBlock {
    opacity: 1;
    cursor: pointer;
}
/*section blog post end*/


/*section client start*/
.clientSection {
    background: #fff;
    margin-bottom: -25px;
    min-height: 320px;
    padding-top: 100px;
    margin-top: -20px;
}

.box-1 {
    box-shadow: none;
    background: #f4f4f4;
    min-height: 130px;
}

.containerBox-1 {
    margin-top: 120px;
    margin-bottom: 100px;
    background: #fff;
}

.number {
    color: #b0cd91;
    padding-bottom: 5px;
    font-size: 1.35rem;
}

.icons {
    display:inline-flex;
    width: 215px;
    justify-content: space-between;
}

.icons a {
    font-family: 'FontAwesome';
    color: #202528;
}

.icons button {
    background: #a2cf8e;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    height: 35px;
    width: 35px;
}
/*section client end*/

/*footer section start*/
.contact {
    background-image: url(/img/contact-bg.png);
    background-size: cover;
    background-position: center center;
    height: 570px;
}

.contact .container h2 {
    color: #fff;
    padding-top: 80px;
}

.contact .container h2:after {
    background: #fff;
}

input {
    background: rgba(128, 128, 128, 0.2);
    border: none;
    padding: 15px 15px;
    width: 100%;
}

.form_textarea {
    height: 74%;
    padding: 5% 0;
}

textarea {
    background: rgba(128, 128, 128, 0.2);
    border: none;
    padding: 10px 10px;
    font-family: inherit;.
    color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
}

.contact .contact_box {
    margin: 0 15px;
    max-width: 555px;
    height: 312px;
}

.contact_box img {
    max-width: 100%;
}

.form_flex {
    display: flex;
    justify-content: space-between;
}

.form_type {
    width: 47%;
}
/*footer section end*/

/*footer start*/
footer {
    min-height: 80px;
    background: #202528;
    color: #fff;
}

.copyText {
    margin-top: 35px;
    font-size: 0.8rem;
}
.spanText {
    color: #b33854;
}
.icons {
    margin-top: 25px;
    color: #000;
    padding: 0 30px;
}

.icons>a {
    border: 1px solid #fff;
    background: #a2cf8e;
    padding: 10px;
    border-radius: 50%;
    background-image: #202528;
}
/*footer end*/

/*banner start*/
.modal {
    top: 50%;
    transform: translateY(40%);
    right: 1%;
    text-align: center;
    width: 300px;
    height: 300px;
    background: rgba(191, 207, 142, 0.17);
    position: fixed;
} 

.modal {
    display: none;
}
.content input {
    background: rgb(255, 255, 255, 0.3);
    border: 1px solid rgb(128, 128, 128);
    padding: 10px 10px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.7);
}

.close {
    text-align: right;
}

.form-input input {
    margin-top: 15px;
    width: 280px;
}

.form-a {
    margin-top: 40px;
}

.form-a .greenButton {
    border: 1px solid #000;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.7);
}
/*banner end*/