@media(max-width: 767px){

.box-group: col.3 .box{
	margin: auto;
	margin-bottom: 15px;
}
.col.3{
	width: 100%;
}

.box-group: col.3 .box{
	margin: auto;
	margin-bottom: 15px;
}
}

.photo box-group{
  float: left;
}